@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <li><a data-url="@Url.Action("Index", "Account")" class="fetchable">@HttpContext.Current.User.Identity.Name</a></li>
    <li> @Html.ActionLink("Sign Out", "SignOut", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Sign up", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "signUpLink" })</li>
    <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
